
#admin-container * {
    /* border: 1px solid black; */
}
#admin-container {
    width: 100vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#admin-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#admin-container section {
    /* border: 3px solid green; */
    background-color: grey;
    border-radius: 10px;
    margin: 2%;
}

.form-admin-content>div {
    /* background-color: crimson; */
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}
.form-admin-content input {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

/*
form[id*=form-admin-edit-] {
    background-color: chocolate;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/
label {
    color: white;
}

input {
    background-color: rgba(194, 111, 81, 0.671);
    border-radius: 15px;
    border: 1px solid white;
    padding: 2%;
}
select {
    background-color: rgba(194, 111, 81, 0.671);
    border-radius: 15px;
    border: 1px solid white;
}
.modif {
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-between;
    width: 30vw;
}

.bouton  {
    background-color:rgba(194, 111, 81, 0.671); 
    display:flex;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10%;
}
