#cards {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    --img-size: 200px;

    --border: 1px solid var(--orange);
    --border: 1px solid black;

}

.card {
    box-sizing: border-box;
    /* width: 45vw; */
    width: 500px;

    /* min-width: 350px; */
    max-width: 500px;
    height: max-content;
    max-height: 400px;
    margin: 2%;
    border-radius: var(--radius);
    border: var(--border);
    overflow: hidden;
    /* background-color: var(--grey-card); */

    background-color: var(--transparent-black);

    display: flex;
    flex-direction: column;

    z-index: 1;

}
.card .icon {
    width: var(--icon-size);
    height: var(--icon-size);
}
.card .icon-euro {
    width: 25px;
    height: 25px;
}


/* HEADER */
.card-header {
    border-bottom: var(--border);
    /* background-color: rgba(248, 81, 30, 0.665); */
    background-color: var(--transparent-grey);
    width: 100%;
    padding: 1%;
    height: 25%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.card-header div:nth-of-type(1) {
    margin-bottom: 3%;
    color: black;
    display: flex;
    justify-content: space-between;
}
.card-header div {
    display: flex;
    justify-content: space-around;
    color: var(--orange);
}
.card-header ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.8em;
}

/*  */

.card-content {
    height: min-content;
    padding: 2%;
    background-color: rgba(248, 81, 30, 0.576);
    color: black;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr; */
}

.card-description {
    width: 50%;
    max-height: 100%;  
    margin-right: 5%;
}
.card-description p {
    padding: 5% 10%;
    text-align: left;
    font-size: 0.8em;  
}

.card-content > figure {
    /* width:  var(--img-size);
    height: var(--img-size); */
    width:  200px;
    height: 200px;
    padding: 0;
    margin: 0;
    border-radius: var(--radius);
    overflow: hidden;
}
.card-content img {
    /* width:  var(--img-size);
    height: var(--img-size); */
    width:  200px;
    height: 200px;
}

/* FOOTER */
.card-footer {
    border-top: var(--border);
    background-color: var(--transparent-grey);
    height: 75px;
    min-width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.card-footer>div {
    height: min-content;
    width: max-content;
    min-width: calc(var(--icon-size)*2);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-footer>div>div {
    width: max-content;
    min-width: 20px;
}
.card-footer figure {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 0;
}

/* MEDIA  */
@media screen and (min-width: 400px) {
    .card {
        min-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    /*responsive des cartes */
    .card {
        width: 95vw;
        min-width: 200px;

        font-size: 0.8em;
    }
    .card header {
        font-size: 0.7em;
    }
    .card-content {
        flex-flow: column;
    }
    .card-description {
        width: 100%;
    }
    .card-content > figure {
        align-self: center;
        width:  100px !important;
        height: 100px !important;
    }
    .card-content img {
        width:  100px;
        height: 100px;
    }
    .card-footer figure {
        width:  24px;
        height: 24px;
    }
    .card-footer img {
        width:  24px !important;
        height: 24px !important;
    }

}


/* .icon2 {
    padding: 20%;
} */
   
    
