html {
    
}
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --orange: rgb(244, 84, 21);
    --orange-input: rgba(238, 109, 59, 0.44); 
    --grey-card: #D7D7D7;
    --transparent-black: #00000075;
}

body {
    background-image: url("../static/img/fond-ecran.jpg");
    background-size: cover;
    background-attachment: fixed;
}

 body>header {
    height: 7vh;
    background-color: var(--transparent-black);
    position: sticky;
    top: 0;
}
body>footer {
    background-color: var(--transparent-black);
}


#sec-filters input, #sec-filters select, #sec-filters button {
    background-color: var(--orange-input);
    border: none;
    color: white;

    padding: 0 2%;
    width: 40%;
    min-width: 110px;
    height: 30px;
    border-radius: 15px;
}
#sec-filters input:focus, #sec-filters select:focus {
    outline: none;
    border: 1px solid var(--orange);
}
#sec-filters button {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}
input[type=number] {
    -moz-appearance: textfield;
}


