body {
    --orange: rgb(244, 84, 21);
    --grey-card: #D7D7D7;
    --transparent-black: #00000075;
}

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../static/img/fond-ecran.jpg");
    background-size: cover;
    background-attachment: fixed;
}

 body>header {
    height: 7vh;
    background-color: var(--transparent-black);
    position: sticky;
    top: 0;
}
body>footer {
    background-color: var(--transparent-black);
}

input, select {
    width: 40%;
    min-width: 110px;
}