#title-section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#main-section {
    background-color: var(--transparent-black);
}
#main-section>header {
    height: calc(var(--header-height) *2);
    margin-top: - var(--header-height);
    /* padding-top: var(--header-height); */

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
#main-section>header a {
    width: 100%;
    display: grid;
}
#main-section>header h2 {
    text-transform: uppercase;
    color: var(--orange);
    border: 1px solid var(--orange);
    padding: 1% 5%;
    border-radius: 10px;
    font-size: 1.5em;
    justify-self: center;
}

/* FILTERS */
#sec-filters {
    background-color: rgba(189, 189, 189, 0.693);
    margin: 1% 2%;
}
#sec-filters form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    /* padding: 0 10%; */
}
#sec-filters label {
    display: inline-block;
    width: 50%;
}
#sec-filters form > div {
    width: 45%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
}
#form-filters-div-button {
    display: flex !important;
}
#form-filters-div-button input[type=submit] {
    padding: 1% 3%;
}


