<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/card.css">

    <title>CARD</title>
</head>
<body>
    <section class='card'>
        <header class="card-header">
            <h3>TITRE</h3>

            <div>
                <h4>Catégorie</h4>
                <ul>
                    <li>tag 1</li>
                    <li>tag 2</li>
                    <li>tag 5</li>
                </ul>
            </div>

        </header>
    
        <div class="card-content">
            <figure>
                <img src="" alt="image de gite">
            </figure>

            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dolores quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dolores quisquam! 
                </p>
            </div>

            <div class="card-button-div">
                <input type="button" value="see more">
            </div>
        </div>
    
        <footer class="card-footer">
            <figure>
                <img src="" alt="nbr de lits">
            </figure>
            <figure>
                <img src="" alt="nbr de sdb">
            </figure>
        </footer>
    </section>
</body>

</html>

